<template>
  <v-card light class="px-2 pt-2 pb-0 mt-4 elevation-12" style="width: 84%">
    <v-card-title primary-title>
      <div>
        <h1 class="headline font-weight-medium mb-4">
          This Browser Is Not Supported
        </h1>
        <div class="subheading font-weight-regular">
          <p style="line-height: 1.4">
            The
            <span class="text-uppercase font-weight-bold"
              >Vision and Hearing Loss Simulator</span
            >
            uses audio features that are not supported by older browsers.
          </p>
          <p style="line-height: 1.4">
            The simulator allows you to choose between four different video
            settings, choose from various vision and hearing impairments, and
            control the severity of each impairment.
          </p>
          <p style="line-height: 1.4">
            To experience the full functionality of the simulator, please use
            the latest version of Chrome, Firefox, Microsoft Edge, or Safari on
            macOS 12+ or iOS 12+.
          </p>
        </div>
      </div>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  props: ["userDetected"]
};
</script>

<style lang="scss">
.unsupported-bg {
  background-image: url("~@/assets/cards-poster.png");
  background-size: cover;
}
</style>
