<template>
  <div class="pt-2 pb-1 box">
    <h2 class="subheading mb-2">
      {{ title }}
      <v-icon small class="ml-1" color="secondary">{{ icon }}</v-icon>
    </h2>
    <v-select
      class="subheading"
      ref="select"
      @change="changeType"
      :items="items"
      v-model="selectedItem"
      dense
      :label="title"
      solo
      single-line
      color="secondary"
      outline
      :menu-props="{ maxHeight: '400' }"
    ></v-select>
    <v-slider
      v-model="sliderVal"
      label="Severity"
      always-dirty
      style="width: 97%"
      thumb-color="secondary"
      color="secondary"
      :disabled="disableSlider"
      hide-details
    ></v-slider>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sliderDisabled: true,
      sliderVal: 50,
      selectedItem: this.items[0]
    };
  },
  props: {
    title: {
      required: true,
      type: String
    },
    icon: {
      required: true,
      type: String
    },
    items: {
      required: true,
      type: Array
    },
    videoIsPlaying: {
      required: true,
      type: Boolean
    }
  },
  computed: {
    disableSlider() {
      if (this.sliderDisabled) {
        return true;
      } else {
        return !this.videoIsPlaying;
      }
    }
  },
  methods: {
    changeType() {
      this.sliderDisabled =
        this.selectedItem === "Normal" ||
        this.selectedItem === "Stroke field cut (left)" ||
        this.selectedItem === "Stroke field cut (right)";
      this.$emit("changeType", this.selectedItem);
    }
  },
  watch: {
    sliderVal: function(val) {
      this.$emit("changeSlider", val);
    }
  }
};
</script>

<style lang="scss">
$layout-change: 700px;
.theme--dark.v-label {
  color: rgba(255, 255, 255, 1);
}
.box {
  background-color: rgba(0, 0, 0, 0.65);
  padding-bottom: -10px;
  width: 100%;
}
@media (min-width: $layout-change) {
  .box {
    outline: 1px solid rgba(255, 255, 255, 0.18);
  }
}
.v-slider__thumb-label {
  color: #222;
  font-weight: bold;
}
.v-icon {
  font-size: 19px !important;
}
.v-label {
  font-size: 0.9em;
}
.v-select__selection {
  font-size: 0.9em;
}
/* Increase slider thumb and line */
.v-slider__thumb {
  transform: translateY(-50%) scale(0.85);
}
.v-slider__track__container {
  height: 3px;
}
.v-slider__track {
  height: 3px;
}
.v-slider__track-fill {
  height: 3px;
}
.v-input--slider {
  margin-top: 0px;
}
</style>
