<template>
  <v-dialog v-model="dialog" max-width="600">
    <template v-slot:activator="{ on }">
      <v-btn
        color="primary"
        v-on="on"
        class="ml-2 body-1"
        :class="{
          caption: $vuetify.breakpoint.xsOnly
        }"
        large
        style="padding-left: 10px; padding-right: 10px"
      >
        <v-icon class="mr-2 hidden-tiny">message</v-icon>
        <span>Transcript</span>
      </v-btn>
    </template>

    <v-card light>
      <v-card-title class="title primary white--text" primary-title>
        Transcript for
        <span class="ml-2 text-uppercase font-weight-bold">
          {{ currentTitle }}
        </span>
        <v-spacer></v-spacer>
        <v-btn icon small color="primary" @click="dialog = false">
          <v-icon>close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text v-html="currentTranscript" class="transcript"></v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    setting: {
      type: String,
      required: true
    }
  },
  computed: {
    currentTitle: function() {
      const ts = this.transcripts.filter(ts => ts.setting === this.setting)[0];
      return ts.title.toLowerCase();
    },
    currentTranscript: function() {
      const ts = this.transcripts.filter(ts => ts.setting === this.setting)[0];
      return ts.text;
    }
  },
  data() {
    return {
      dialog: false,
      transcripts: [
        {
          setting: "1",
          title: "Cards",
          text: `<p><strong>Woman on left</strong>: How about that?</p>
          <p><strong>Woman on right</strong>: [laughs]</p>
          <p><strong>Woman on left</strong>: She thinks she's a big shot!`
        },
        {
          setting: "2",
          title: "Family",
          text: `<p><strong>Daughter on right</strong>: This looks great…I love it. Good job!</p>
          <p><strong>Daughter on left</strong>: Thank you. Mom, we made some changes to the kitchen. I know you said that you were struggling a little bit to see in the kitchen while you’re cooking and baking. So hopefully these visual markers will help you a little bit. Okay?</p>
          <p><strong>Daughter on right</strong>: Right, and we’re also going to set up a TV listener for you so that you can hear those programs that you’re struggling to hear that are some of your favorites.</p>`
        },
        {
          setting: "3",
          title: "PCA",
          text: `<p><strong>PCA</strong>: Agnes, it’s Beth. I’m here with your blood pressure cup. But you know what, I want to hear about cards first because yesterday you told me that Bertha was coming over, and Karl, and ahhhh, George was coming in. Oh, forget about that. Let’s do your blood pressure. Are you ready?</p>`
        },
        {
          setting: "4",
          title: "Yoga",
          text: `<p>[soft piano music playing]</p>
          <p><strong>Instructor</strong>: Support yourself and lean away from the chair with your head so all your weight is holding onto the side of the chair. You’re using gravity. Nice deep breath. Come back up. Back to the center. Switch your legs. Can everyone hear me OK?</p>
          <p><strong>Participant</strong>: Uh-huh.</p>
          <p><strong>Instructor</strong>: Okay. Lean forward. Push your chest forward so you’re not caving down, supporting the ribcage and pushing it up.</p>`
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.hidden-tiny {
  @media (max-width: 340px) {
    display: none;
  }
}
.v-card__title--primary {
  padding-top: 12px;
  padding-bottom: 10px;
}
.transcript-btn {
  z-index: 10;
}
.transcript {
  font-size: 1.15em;
}
</style>
