<template>
  <v-app dark class="new-dark-theme">
    <header class="app-header">
      <img
        :src="require('@/assets/DHHSD_Logo.png')"
        class="app-logo"
        alt="Minnesota Department of Human Services - Deaf and Hard of Hearing logo"
      />
      <div class="app-title-img">
        <img
          :src="require('@/assets/title.png')"
          alt="Vision and Hearing Loss Simulator"
        />
      </div>
    </header>
    <div v-if="userIsSupported" class="tools">
      <div>
        <span class="tools-setting hidden-xs-only">Choose a setting:</span>
        <v-btn-toggle
          @change="changeSetting"
          mandatory
          v-model="setting"
          light
          class="my-1 ml-3"
        >
          <v-btn
            large
            value="1"
            :class="{
              'px-3': $vuetify.breakpoint.mdAndUp,
              caption: $vuetify.breakpoint.xsOnly
            }"
            >Cards</v-btn
          >
          <v-btn
            large
            value="2"
            :class="{
              'px-3': $vuetify.breakpoint.mdAndUp,
              caption: $vuetify.breakpoint.xsOnly
            }"
            >Family</v-btn
          >
          <v-btn
            large
            value="3"
            :class="{
              'px-3': $vuetify.breakpoint.mdAndUp,
              caption: $vuetify.breakpoint.xsOnly
            }"
            >PCA</v-btn
          >
          <v-btn
            large
            value="4"
            :class="{
              'px-3': $vuetify.breakpoint.mdAndUp,
              caption: $vuetify.breakpoint.xsOnly
            }"
            >Yoga</v-btn
          >
        </v-btn-toggle>
      </div>
      <transcript :setting="setting"></transcript>
    </div>
    <v-content :class="supportBG">
      <v-layout align-center justify-center column>
        <div v-if="userIsSupported" class="video-stuff">
          <div
            class="tv-container"
            @click="controlVideo"
            style="overflow:hidden"
          >
            <div class="overlay-display" v-show="appInit && !videoIsPlaying">
              <p>
                <i class="material-icons play-btn">play_circle_filled</i>
              </p>
            </div>
            <div
              ref="overlay2"
              v-show="firstPlay"
              class="overlay"
              :class="overlay2Classes"
            ></div>
            <div
              ref="overlay1"
              v-show="firstPlay"
              class="overlay"
              :class="overlay1Classes"
            ></div>
            <video
              ref="theVideo"
              id="tv"
              :autoplay="videoAutoplay"
              loop
              playsinline
              webkit-playsinline
              :poster="posterCurrent"
              :src="videoCurrent"
              type="video/mp4"
              preload="auto"
            ></video>
          </div>
          <v-container fluid class="floater">
            <v-layout justify-space-between row fill-height>
              <OptionSelector
                title="Vision Loss"
                icon="visibility"
                :items="itemsVision"
                :videoIsPlaying="videoIsPlaying"
                class="option option-left"
                @changeType="changeTypeVision"
                @changeSlider="changeSeverityVision"
              />
              <OptionSelector
                title="Hearing Loss"
                icon="hearing"
                :items="itemsHearing"
                :videoIsPlaying="videoIsPlaying"
                class="option option-right"
                @changeType="changeTypeHearing"
                @changeSlider="changeSeverityHearing"
              />
            </v-layout>
          </v-container>
        </div>
        <NotSupported
          v-else
          :userDetected="userDetected"
          style="max-width: 500px"
        />
      </v-layout>
    </v-content>
  </v-app>
</template>

<script>
import OptionSelector from "./components/OptionSelector";
import NotSupported from "./components/NotSupported";
import Transcript from "./components/Transcript";
import { userDetected } from "./utils/detection.js";
// import VConsole from "../node_modules/vconsole/dist/vconsole.min";

export default {
  name: "App",
  components: {
    OptionSelector,
    NotSupported,
    Transcript
  },
  data() {
    return {
      appInit: false,
      firstPlay: false,
      userDetected: undefined,
      userIsSupported: true,
      theVideo: null,
      videoAutoplay: false,
      videoIsPlaying: false,
      setting: "1",
      posterCurrent: require("@/assets/cards-poster.png"),
      videoCurrent: require("@/assets/cards.mp4"),
      poster1: require("@/assets/cards-poster.png"),
      video1: require("@/assets/cards.mp4"),
      poster2: require("@/assets/family-poster.png"),
      video2: require("@/assets/family.mp4"),
      poster3: require("@/assets/pca-poster.png"),
      video3: require("@/assets/pca.mp4"),
      poster4: require("@/assets/yoga-poster.png"),
      video4: require("@/assets/yoga.mp4"),
      tinnitusAudio1: require("@/assets/tinnitus-drones.mp3"),
      tinnitusAudio2: require("@/assets/tinnitus-river.mp3"),
      tinnitusAudio3: require("@/assets/tinnitus-glass.mp3"),
      visionType: "",
      visionId: 0,
      hearingType: "",
      hearingId: 0,
      severityVision: 50,
      severityHearing: 50,
      itemsVision: [
        {
          id: 0,
          text: "Normal"
        },
        {
          id: 1,
          text: "Cataracts"
        },
        {
          id: 2,
          text: "Macular degeneration"
        },
        {
          id: 3,
          text: "Glaucoma"
        },
        {
          id: 4,
          text: "Floaters"
        },
        {
          id: 5,
          text: "Diabetic retinopathy"
        },
        {
          id: 6,
          text: "Stroke field cut (left)"
        },
        {
          id: 7,
          text: "Stroke field cut (right)"
        }
      ],
      itemsHearing: [
        {
          id: 0,
          text: "Normal"
        },
        {
          id: 1,
          text: "Mild"
        },
        {
          id: 2,
          text: "Moderate"
        },
        {
          id: 3,
          text: "Severe"
        },
        {
          id: 4,
          text: "Profound"
        },
        {
          id: 5,
          text: "Tinnitus: High pitch tone"
        },
        {
          id: 6,
          text: "Tinnitus: White noise"
        },
        {
          id: 8,
          text: "Tinnitus: Squeaking"
        },
        {
          id: 7,
          text: "Tinnitus: Running water"
        }
      ],
      audInit: false,
      audContext: null,
      audSource: null,
      audGainNode: null,
      audFilterNode: null,
      audOscillator: null,
      audOscillatorGainNode: null,
      audMp3GainNode: null,
      audMp3Source: null,
      tinnitusEnabled: false,
      tinnitusActive: false,
      tinnitusMp3Enabled: false,
      tinnitusMp3Active: false,
      vConsole: null
    };
  },
  created() {
    // this.vConsole = new VConsole();
    this.userDetected = userDetected;
    if (this.userDetected.ieIs) {
      this.userIsSupported = false;
    }
    if (this.userDetected.iosIs && this.userDetected.iosVersion < 12) {
      this.userIsSupported = false;
    }
  },
  mounted() {
    this.theVideo = this.$refs.theVideo;
    const app = this;
    document.addEventListener("visibilitychange", function() {
      if (document.hidden) {
        // page lost focus, pause tasks
        app.theVideo.pause();
        app.videoIsPlaying = false;
        app.toggleTinnitus(false);
      } else {
        // page has focus, resume tasks (we're no longer resuming anything)
      }
    });
    this.appInit = true;
  },
  computed: {
    supportBG: function() {
      return {
        "unsupported-bg": !this.userIsSupported
      };
    },
    overlay1Classes: function() {
      return {
        "overlay-macular": this.visionType === "Macular degeneration",
        "overlay-glaucoma": this.visionType === "Glaucoma",
        "overlay-retinopathy": this.visionType === "Diabetic retinopathy",
        "overlay-floaters1": this.visionType === "Floaters",
        "overlay-floaters-animated": this.visionType === "Floaters",
        "overlay-fieldcut":
          this.visionType === "Stroke field cut (left)" ||
          this.visionType === "Stroke field cut (right)",
        "overlay-fieldcut-left": this.visionType === "Stroke field cut (left)",
        "overlay-fieldcut-right": this.visionType === "Stroke field cut (right)"
      };
    },
    overlay2Classes: function() {
      return {
        "overlay-floaters2": this.visionType === "Floaters",
        "overlay-floaters-animated": this.visionType === "Floaters"
      };
    }
  },
  methods: {
    changeSetting() {
      if (this.setting == "1") {
        this.posterCurrent = this.poster1;
        this.videoCurrent = this.video1;
      } else if (this.setting == "2") {
        this.posterCurrent = this.poster2;
        this.videoCurrent = this.video2;
      } else if (this.setting == "3") {
        this.posterCurrent = this.poster3;
        this.videoCurrent = this.video3;
      } else if (this.setting == "4") {
        this.posterCurrent = this.poster4;
        this.videoCurrent = this.video4;
      }
      if (this.appInit && this.firstPlay) {
        this.videoIsPlaying = true;
      }
    },
    getItemId(array, value) {
      const theItem = array.find(item => item.text === value);
      return theItem.id;
    },
    changeTypeVision(value) {
      this.visionType = value;
      this.visionId = this.getItemId(this.itemsVision, value);
      this.visionApplyNone(); // Remove existing filters on theVideo
      if (this.visionId === 1) {
        // Cataracts
        this.visionApplyCataracts(this.severityVision);
      } else if (this.visionId === 2) {
        // Macular degneration
        this.visionApplyMacular(this.severityVision);
      } else if (this.visionId === 3) {
        // Glaucoma
        this.visionApplyGlaucoma(this.severityVision);
      } else if (this.visionId === 4) {
        // Floaters
        this.visionApplyFloaters(this.severityVision);
      } else if (this.visionId === 5) {
        // Diabetic retinopathy
        this.visionApplyRetinopathy(this.severityVision);
      } else if (this.visionId === 6) {
        // SFC - L
        this.visionApplyFieldCut(this.severityVision);
      } else if (this.visionId === 7) {
        // SFC - R
        this.visionApplyFieldCut(this.severityVision);
      } else if (this.visionId === 0) {
        this.visionApplyNone();
      }
    },
    changeSeverityVision(value) {
      this.severityVision = value;
      if (!this.firstPlay) {
        return;
      }
      if (this.visionId === 1) {
        this.visionApplyCataracts(value);
      } else if (this.visionId === 2) {
        this.visionApplyMacular(value);
      } else if (this.visionId === 3) {
        this.visionApplyGlaucoma(value);
      } else if (this.visionId === 4) {
        this.visionApplyFloaters(value);
      } else if (this.visionId === 5) {
        this.visionApplyRetinopathy(value);
      } else if (this.visionId === 6) {
        this.visionApplyFieldCut(value);
      } else if (this.visionId === 7) {
        this.visionApplyFieldCut(value);
      } else {
        this.visionApplyNone();
      }
    },
    changeTypeHearing(value) {
      if (!this.audInit) {
        this.startupAudio();
      }
      this.hearingType = value;
      this.hearingId = this.getItemId(this.itemsHearing, value);
      if (this.hearingId === 5) {
        if (this.videoIsPlaying) {
          this.playOscillator();
        }
      } else if (this.hearingId === 6) {
        this.toggleTinnitus(false);
        if (this.videoIsPlaying) {
          this.loadAudioSource(this.tinnitusAudio1, this.audContext);
        }
      } else if (this.hearingId === 7) {
        this.toggleTinnitus(false);
        if (this.videoIsPlaying) {
          this.loadAudioSource(this.tinnitusAudio2, this.audContext);
        }
      } else if (this.hearingId === 8) {
        this.toggleTinnitus(false);
        if (this.videoIsPlaying) {
          this.loadAudioSource(this.tinnitusAudio3, this.audContext);
        }
      } else {
        if (this.tinnitusEnabled && this.tinnitusActive) {
          this.audOscillatorGainNode.disconnect(this.audContext.destination);
        }
        if (this.tinnitusMp3Active) {
          this.audMp3GainNode.disconnect(this.audContext.destination);
        }
        this.tinnitusActive = false;
        this.tinnitusMp3Active = false;
        this.hearingApplyMode(value);
      }
    },
    clearAudioSource() {
      // Clear previous audio
      if (this.audMp3Source) {
        if (this.audMp3Source.buffer) {
          this.audMp3Source.buffer = null;
        }
        this.audMp3Source.disconnect(this.audMp3GainNode);
        this.audMp3Source = null;
      }
    },
    playOscillator() {
      this.clearAudioSource();
      this.tinnitusActive = true;
      this.setFullVolume();
      // Now set up tinnitus stuff...
      this.audOscillatorGainNode.connect(this.audContext.destination);
      if (!this.tinnitusEnabled) {
        this.audOscillator.start();
        this.tinnitusEnabled = true;
      }
      this.tinnitusVolume(this.severityHearing);
    },
    loadAudioSource(url, context) {
      this.clearAudioSource();
      this.tinnitusActive = false;
      this.tinnitusMp3Active = true;

      // Load audio
      const request = new XMLHttpRequest();
      request.open("GET", url, true);
      request.responseType = "arraybuffer";
      request.onload = () => {
        context.decodeAudioData(
          request.response,
          buffer => {
            this.audMp3Source = context.createBufferSource();
            this.audMp3Source.buffer = buffer;
            this.audMp3Source.connect(this.audMp3GainNode);
            this.audMp3GainNode.connect(context.destination);
            this.audMp3GainNode.gain.value = 0.5;
            this.audMp3Source.loop = true;
            this.audMp3Source.start();
          },
          function(e) {
            console.log("Audio error! ", e);
          }
        );
      };
      request.send();
    },
    setupAndPlayLoadedAudio(context, buffer) {
      this.audMp3Source = context.createBufferSource();
      this.audMp3Source.buffer = buffer;
      this.audMp3Source.connect(this.audMp3GainNode);
      this.audMp3GainNode.connect(context.destination);
      this.audMp3GainNode.gain.value = 0.5;
      this.audMp3Source.loop = true;
      this.audMp3Source.start();
    },
    changeSeverityHearing(value) {
      this.severityHearing = value;
      if (this.hearingId === 5) {
        // Tinnitus
        this.tinnitusVolume(value);
        this.tinnitusMp3Active = false;
      } else if (
        this.hearingId === 6 ||
        this.hearingId === 7 ||
        this.hearingId === 8
      ) {
        this.tinnitusMp3Volume(value);
      } else {
        this.hearingChangePitch(value);
      }
    },
    controlVideo() {
      if (!this.audInit) {
        this.startupAudio();
      }
      if (this.theVideo.paused) {
        this.videoAutoplay = true;
        this.theVideo.play();
        this.videoIsPlaying = true;
        this.toggleTinnitus(true);
        this.firstPlay = true;
        if (this.visionId === 1) {
          // Cataracts
          this.changeSeverityVision(this.severityVision);
        }
        if (this.hearingId === 5) {
          this.playOscillator();
        } else if (this.hearingId === 6) {
          this.loadAudioSource(this.tinnitusAudio1, this.audContext);
        } else if (this.hearingId === 7) {
          this.loadAudioSource(this.tinnitusAudio2, this.audContext);
        } else if (this.hearingId === 8) {
          this.loadAudioSource(this.tinnitusAudio3, this.audContext);
        }
      } else {
        this.theVideo.pause();
        this.videoIsPlaying = false;
        // Control tinnitus
        this.toggleTinnitus(false);
        this.tinnitusMp3Active = false;
      }
    },
    toggleTinnitus(bool) {
      if (this.tinnitusEnabled && this.tinnitusActive) {
        this.tinnitusActive = false;
        if (bool) {
          this.audOscillatorGainNode.connect(this.audContext.destination);
        } else {
          this.audOscillatorGainNode.disconnect(this.audContext.destination);
        }
        this.tinnitusMp3Active = false;
      }
      if (this.tinnitusMp3Active) {
        if (bool) {
          this.audMp3GainNode.connect(this.audContext.destination);
        } else {
          this.audMp3GainNode.disconnect(this.audContext.destination);
        }
      }
    },
    visionApplyNone() {
      this.theVideo.style.webkitFilter = "none";
    },
    visionApplyCataracts(value) {
      if (this.firstPlay) {
        const blurMultiplier = 0.03 * Math.floor(window.innerWidth / 300);
        const blurMultiplierMax = 0.09;
        const blurValue = value * Math.min(blurMultiplier, blurMultiplierMax);
        const sepiaValue = value * 0.008;
        this.theVideo.style.webkitFilter = `blur(${blurValue}px) sepia(${sepiaValue})`;
      }
    },
    visionApplyMacular(value) {
      const overlay = this.$refs.overlay1;
      overlay.style.opacity = value / 100;
    },
    visionApplyGlaucoma(value) {
      // Clear any blurs
      const overlay1 = this.$refs.overlay1;
      const overlay2 = this.$refs.overlay2;
      overlay1.style.webkitFilter = `none`;
      overlay2.style.webkitFilter = `none`;
      overlay1.style.opacity = value / 100;
    },
    visionApplyRetinopathy(value) {
      const overlay = this.$refs.overlay1;
      overlay.style.opacity = value / 100;
      const blurMultiplier = Math.floor(window.innerWidth / 300);
      // let blurValue = value * 0.06;
      let blurValue = blurMultiplier * (value * 0.02);
      blurValue += blurMultiplier * 3;
      overlay.style.webkitFilter = `blur(${blurValue}px)`;
    },
    visionApplyFloaters(value) {
      const v = value / 100;
      const overlay1 = this.$refs.overlay1;
      const overlay2 = this.$refs.overlay2;
      overlay1.style.opacity = v * 2;
      overlay2.style.opacity = v - 0.2;
      // Blurs: min of 1, plus a version of value, and account for browser width
      const blurValue = 1 + v + Math.floor(window.innerWidth / 400);
      overlay1.style.webkitFilter = `blur(${blurValue}px)`;
      overlay2.style.webkitFilter = `blur(${blurValue}px)`;
    },
    visionApplyFieldCut() {
      // Clear/reset existing filters
      const overlay1 = this.$refs.overlay1;
      const overlay2 = this.$refs.overlay2;
      overlay1.style.opacity = 1;
      overlay2.style.opacity = 1;
      overlay1.style.webkitFilter = `none`;
      overlay2.style.webkitFilter = `none`;
    },
    startupAudio() {
      const AudioContext = window.AudioContext || window.webkitAudioContext;
      this.audContext = new AudioContext();

      this.audSource = this.audContext.createMediaElementSource(this.theVideo);

      this.audGainNode = this.audContext.createGain();
      this.audGainNode.gain.value = 1;

      this.audFilterNode = this.audContext.createBiquadFilter();
      this.audFilterNode.type = "lowpass";
      this.audFilterNode.frequency.value = 20000;

      this.audSource.connect(this.audGainNode);
      this.audGainNode.connect(this.audFilterNode);
      this.audFilterNode.connect(this.audContext.destination);

      // this.audMp3Source -- Set via loadAudioSource()
      this.audMp3GainNode = this.audContext.createGain();

      this.audOscillator = this.audContext.createOscillator();
      this.audOscillator.type = "sine"; // sine wave — other values are 'sine', 'sawtooth', 'triangle' and 'custom'
      this.audOscillator.frequency.value = 3000; // value in hertz

      this.audOscillatorGainNode = this.audContext.createGain();
      this.audOscillatorGainNode.gain.value = 0.05;
      this.audOscillator.connect(this.audOscillatorGainNode);

      this.audInit = true;
    },
    setFullVolume() {
      if (this.audInit) {
        this.audGainNode.gain.value = 1;
        this.audFilterNode.frequency.value = 20000;
      }
    },
    hearingApplyMode(value) {
      if (!this.audInit) {
        this.startupAudio();
      }
      this.hearingId = this.getItemId(this.itemsHearing, value);
      if (this.hearingId === 0) {
        // Normal
        this.audGainNode.gain.value = 1;
        this.audFilterNode.frequency.value = 20000;
      } else if (this.hearingId === 1) {
        // Mild
        this.audGainNode.gain.value = 0.5;
        this.hearingChangePitch(this.severityHearing);
      } else if (this.hearingId === 2) {
        // Moderate
        this.audGainNode.gain.value = 0.3;
        this.hearingChangePitch(this.severityHearing);
      } else if (this.hearingId === 3) {
        // Severe
        this.audGainNode.gain.value = 0.17;
        this.hearingChangePitch(this.severityHearing);
      } else if (this.hearingId === 4) {
        // Profound
        this.audGainNode.gain.value = 0.06;
        this.hearingChangePitch(this.severityHearing);
      }
    },
    tinnitusMp3Volume(value) {
      // Update the gain
      const v = value / 100;
      const min = 0;
      const max = 1;
      let val = v * (max - min) + min;
      this.audMp3GainNode.gain.value = val;
    },
    tinnitusVolume(value) {
      // Update the gain
      const v = value / 100;
      const min = 0;
      const max = 0.015;
      let val = v * (max - min) + min;
      this.audOscillatorGainNode.gain.value = val;
    },
    hearingChangePitch(value) {
      // Update the filter frequency in a range
      // Flip the value around axis of "50": 25 becomes 75, 90 becomes 10
      const valueFlipped = 50 - value + 50;
      const v = valueFlipped / 100;

      // Conditional frequency ranges
      let min;
      let max;
      if (this.hearingId === 1) {
        // Mild
        min = 1000;
        max = 8000;
      } else if (this.hearingId === 2) {
        // Moderate
        min = 500;
        max = 1000;
      } else if (this.hearingId === 3) {
        // Severe
        min = 250;
        max = 500;
      } else if (this.hearingId === 4) {
        // Profound
        min = 0;
        max = 250;
      }

      let val = v * (max - min) + min;
      this.audFilterNode.frequency.value = val;
    }
  }
};
</script>

<style lang="scss">
$layout-change: 640px;
$layout-larger: 1350px;
$margin-larger: 12%;

.app-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6px;

  @media (min-width: $layout-change) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
  }

  @media (min-width: $layout-larger) {
    margin-left: $margin-larger;
    margin-right: $margin-larger;
  }
}
.app-logo {
  width: 100%;
  max-width: 260px;
  @media (min-width: $layout-change) {
    max-width: 300px;
  }
}
.app-title-img {
  padding-left: 8px;
  padding-right: 8px;
  @media (min-width: $layout-change) {
    padding-top: 12px;
  }
  img {
    width: 100%;
    max-width: 350px;
  }
}
.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  @media (min-width: $layout-change) {
    position: absolute;
    top: 98px;
    z-index: 40;
  }
}
.tools-setting {
  font-size: 1.3em;
  margin-right: 0.5rem;
  text-shadow: 0 0 3px rgb(0, 0, 0);
}
.option {
  padding: 1rem 0.5rem 0 0.5rem;
  width: 100%;
  max-width: 300px;
  pointer-events: auto;
  @media (min-width: $layout-change) {
    padding: 1rem 1rem 0 1rem;
    width: 200px;
  }
  @media (min-width: 850px) {
    width: 250px;
  }
}
@media (min-width: $layout-larger) {
  .option {
    width: 20%;
  }
  .option-left {
    margin-left: $margin-larger;
  }
  .option-right {
    margin-right: $margin-larger;
  }
}
video {
  height: auto;
  width: 100%;
}
.floater {
  margin-top: -1.5em;
  position: relative;
  z-index: 30;
  @media (min-width: $layout-change) {
    position: absolute;
    bottom: 10px;
    pointer-events: none;
  }
  @media (min-width: $layout-larger) {
    bottom: 20px;
  }
}

.video-stuff {
  position: relative;
  width: 100%;
}
.tv-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  @media (min-width: $layout-larger) {
    margin: 0 $margin-larger;
  }
}
.overlay-display {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $layout-change) {
    top: -30px;
  }
}
.play-btn {
  z-index: 10;
  position: relative;
  font-size: 72px;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  user-select: none;
  transition: 0.25s all;
  &:hover {
    color: #003865;
    text-shadow: 0 0 11px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
  }
  @media (min-width: 450px) {
    font-size: 96px;
  }
}
.play-prompt {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  cursor: default;
  padding: 0.5em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.85);
}
.overlay-macular {
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.99) 20%,
    rgba(0, 0, 0, 0.75) 60%,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: calc(100% - 5px);
  position: absolute;
  opacity: 0;
}
.overlay-glaucoma {
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.1) 3%,
    rgba(0, 0, 0, 0.2) 8%,
    rgba(0, 0, 0, 0.85) 35%,
    rgba(0, 0, 0, 1)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: calc(100% - 5px);
  position: absolute;
  opacity: 0;
}
.overlay-retinopathy {
  background-image: url("~@/assets/overlay-retinopathy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 92% 92%;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.overlay-floaters1 {
  background-image: url("~@/assets/overlay-floaters-1.png");
  opacity: 0;
  /* filter: blur(4px); */
}
.overlay-floaters2 {
  background-image: url("~@/assets/overlay-floaters-2.png");
  opacity: 0;
  /* filter: blur(4px); */
}
.overlay-floaters-animated {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  animation: animatedBackground 7s linear infinite alternate;
  width: 100%;
  height: 100%;
  position: absolute;
}
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 50% 50%;
    transform: rotate(10deg);
  }

  100% {
    background-position: 100% 0;
  }
}
.overlay-fieldcut {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: calc(100% - 5px);
  position: absolute;
}

.overlay-fieldcut-left {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1) 47%,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 0)
  );
}

.overlay-fieldcut-right {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1) 47%,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 0)
  );
}
</style>
